services:
  postgres:
    image: postgres:16-alpine
    container_name: job-board-db
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}  # job_board_prod
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data  # <-- NEW volume

  api:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: job-board-api
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - postgres

volumes:
  postgres_data_prod:  # <-- NEW
