services:
  postgres:
    image: postgres:16-alpine
    container_name: job-board-db-dev
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - "${DATABASE_PORT}:${DATABASE_PORT}"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: job-board-api-dev
    volumes:
      - .:/usr/src/app           # main project folder
      - /usr/src/app/node_modules # keeps node_modules inside container
      - ./uploads:/usr/src/app/uploads
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      - postgres

  pgadmin:
    image: dpage/pgadmin4
    container_name: job-board-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80"
    depends_on:
      - postgres

volumes:
  postgres_data_dev:
